<form class="details-form" action="/trips" method="post">
  <input type="text" name="name" placeholder="What is your new trip?">

  <label for="time-log">Date of the trip:</label>
  <input type="date" name="timelog" id="time-log" value=<%= Time.now %>>

  <label for="current">Is this your current trip?</label>
  <input type="checkbox" name="current" id="current" checked>

  <label for="budget">What is your spend goal?</label>
  <input type="number" name="budget" min="0" step="0.01" id="budget" placeholder="optional £0.00">

  <input type="submit" value="Make trip!">
</form>
