<form class="details-form" action="/trips" method="post">
  <input type="text" name="name" placeholder="What is the new trip?">

  <label for="budget">What is your spend goal?</label>
  <input type="number" name="budget" min="0" step="0.01" id="budget" placeholder="0.00">

  
</form>
