<form class="tag-selection" action="/trans_tag/<%= @transaction.id() %>" method="post">
  <select class="tag-options" name="tag_id">
    <% for tag in Tag.all() %>
      <option value="<%= tag.id() %>"><%= tag.name() %></option>
    <% end %>
  </select>
  <input type="submit" value="Add tag">
</form>
