<form class="details-form" action="/person/<%= @person.id() %>/update" method="post">

  <input type="text" name="name" placeholder="What is the person's name?" required value="<%= @person.name() %>">

  <input type="submit" value="That's better!">
  <a href="/person/<%= @person.id() %>">I liked the original</a>
</form>
