<form class="details-form" action="/people/create" method="post">

  <input type="text" name="name" placeholder="What is the person's name?" required>

  <input type="submit" value="Create record">
</form>
