<h2>Tags</h2>
<a href="/tags/new" class="button">Make new tag</a>
<ul class="list-displaying-relationships">
  <% for tag in @tags %>
    <li class="detail-entry"><a href="/tag/<%= tag.id() %>"><h4><%= tag.name() %></h4></a>
      <a href="/tag/<%= tag.id() %>/edit" class="detail-entry-button">Edit</a>
      <form class="delete detail-entry-button" action="/tag/<%= tag.id() %>/delete" method="post">
          <input type="submit" value="Delete Tag">
      </form>
    </li>
  <% end %>
</ul>
