<form class="details-form" action="/tags/create" method="post">

  <div class="details-form-row">
    <input type="text" name="name" placeholder="Name of the new tag" class="details-form-name-input" required>
  </div>

  <input type="submit" value="Make tag!" class="details-form-submit-button">
</form>
