<form class="details-form" action="/tags/create/<%= @transaction.id() %>" method="post">

  <input type="text" name="name" placeholder="What is your new tag?" required>

  <a href="/transaction/<%= @transaction.id() %>">Back to transaction without tag</a>
  <input type="submit" value="Make and add tag!">
</form>
