<h2>Tag: <%= @tag.name() %></h2>
<a href="/tag/<%= @tag.id() %>/edit">Edit name</a>
<a href="/tags" class="button">To list of tags</a>
<form class="delete button" action="/tag/<%= @tag.id() %>/delete" method="post">
    <input type="submit" value="Delete Tag">
</form>

<ul>
  <li><p>List of transactions used in here</p></li>
</ul>
