<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Money Tracker</title>
    <link rel="stylesheet" href="/master.css">
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/trips">Trips</a> </li>
        <li>
          <% if current = Trip.find_current() %>
            <a href="/trip/<%= current.id() %>">Current Trip</a>
          <% else %>
            <p>No Current Trip</p>
          <% end %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
