<form class="details-form" action="/trip/<%= @trip.id() %>/create" method="post">

  <div class="form-row">
    <label for="date">Date of the transaction:</label>
    <input type="date" name="timelog" id="date" value=<%= Time.now %>>
  </div>

  <div class="form-row">
    <label for="name">How to identify the transaction?</label>
    <input type="text" name="name" placeholder="optional">
  </div>

  <div class="form-row">
    <label for="amount">How much did you spend?</label>
    <input type="number" name="amount" min="0" step="0.01" id="amount" placeholder="0.00" min="0.01" required>
  </div>

  <div class="form-row">
    <label for="bussines">Bussiness expense?</label>
    <input type="checkbox" name="business" id="business" value="true" <%= "checked" if @trip.business() %> >
  </div>

  <div class="form-row">
    <label for="company">Where did you spend your money?</label>
    <input type="text" name="company" id="company" placeholder="Optional">
  </div>


  <input type="submit" value="Make new transaction" class="form-submit-button">
</form>
