.details_form {

}

.details-form-row{
  display: block;
  padding: 1rem;
  position: relative;
  left: 2rem;
}

.details-form-submit-button{
  display: inline-block;
  height: 1.5em;
  font-size: 1em;
  width: auto;
  position: relative;
  left: 2rem;
  padding: 1rem;
}

.details-form-cell {
  display: block;
}

.details-form-checkbox {
  display: inline-block;
}

.details-form-name-input {
  font-size: 2em;
  position: static;
  display: block;
  border: none;
}

.details-form-options{
  font-size: 2em;
  position: static;
  display: inline-block;
  padding: 0px 0.2em;
  text-decoration: none;
  color: black;
  height: 1.2em;
  border: solid 1px grey;
  background-color: #e8e8e8;
  border-radius: 5px;
  vertical-align: middle;
}
